/*{
    outline: red 1px solid;
}*/

body{
    background-color: black;
}

#container{
    background-color: white;
    margin-top: 10%;
    height: 500px;
    padding-left: 100px;
    min-width: 1200px;
    position: relative;
    z-index: 1;
}

#ryu{
    float: left;
    width: 659px;
    height: 494px;
}

#ryu-ready, #ryu-stand, #ryu-throw, #ryu-cool{
    width: 659px;
    height: 494px;
}

#ryu-ready, #ryu-throw, #ryu-cool{
    display: none;
}

#ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

#ryu-stand {
  background-image: url('../images/ryu-standing-still.png');
}

#ryu-throw {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

#ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}


#hadouken, #ryu-ready, #ryu-stand, #ryu-throw, #ryu-cool{
    background-repeat: no-repeat;
}

#hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 162px;
  left: 520px;
}

#instructions{
    float: left;
    display: block;
    position: absolute;
    margin-left: 500px;
}

#instructions p {
    font-family: comical;
    font-size: 35px;
    color: black;
    width: 300px;
}

#instruct-1{
    padding-top: 50px;
}

#instruct-2{
   /* padding-top: 10px;*/
    padding-left: 200px;
}